

.section-button-cunsomize {

}
.section-button-cunsomize.show{
    display: block;
}
.section-button-cunsomize table th {
    text-align: left;
    padding: 10px 100px 20px 0;
}


.wqpmb-after-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.wqpmb-after-form .ca-notice.anwwhere-notice.anywhere-required-plugin {
    background: white;
    padding: 19px;
}
.wqpmb-wubmit-button{padding-bottom: 10px !important;margin-bottom: 10px !important;}

@media only screen and (max-width: 900px) {
    .wqpmb-after-form {
        flex-wrap: wrap;
    }
}

/**Social AREA **/
.codeastrogy-social-area-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.codeastrogy-social-area-wrapper a.ca-social-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    border-radius: 7px;
    padding: 0;
    box-shadow: -3px 2px 3px #00000006;
}
.codeastrogy-social-area-wrapper a.ca-social-link.ca-title-available {
    background: #fff;
    border: 1px solid transparent;
    transition: .2s all;
}
.codeastrogy-social-area-wrapper a.ca-social-link.ca-title-available:hover {
    background: #02142a;
    border: 1px solid transparent;
    color: white;
}

.codeastrogy-social-area-wrapper a.ca-social-link img {
    height: 30px;
    width: auto;
}
.codeastrogy-social-area-wrapper a.ca-title-available span{padding-right: 10px;}
/**Social AREA **/

.wqpmb.wqpmb-wrapper .ultraaddons .with-background, .wqpmb.wqpmb-wrapper .ultraaddons-panel .with-background.ca-branding-header {
    width: unset;
}
.wqpmb.wqpmb-wrapper .ultraaddons .with-background.ca-branding-header, .wqpmb.wqpmb-wrapper .ultraaddons-panel .with-background.ca-branding-header{
    background-image: url('../images/header-logo.png') !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}
h1.ca-main-header-title {
    color: #39c2cb;
    background: #02142a url('../images/animated-logo.gif') no-repeat center right;
    width: calc(100% - 50px);
    display: flex;
    padding: 15px;
    /* margin: 0; */
    line-height: 25px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    background-size: auto 40px;
}