.qib-button-wrapper button.qib-button{
    padding: 6px 12px 8px;
    height: 41px;
    background: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    width: 41px;
    color: black;
    height: 41px;
}
.qib-button-wrapper .quantity {
    display: inline;
}
.qib-button-wrapper{
    margin: 3px 0;
    white-space: nowrap;
}

.qib-button-wrapper button.qib-button, .qib-button-wrapper div.quantity.wqpmb_quantity {
    float: none !important;
    height: 41px;
}

.qib-button-wrapper .quantity input.input-text.qty.text {
    height: 41px;
    padding: 6px 12px 8px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #efefef;
    font-size: 20px;
    line-height: 20px;
    box-shadow: none;
}

span.wqpmb_plain_input.hidden{display: none;}

body.cart tr.woocommerce-cart-form__cart-item.cart_item .quantity.wqpmb_quantity,.quantity.wqpmb_quantity {
    display: inline-flex;
}
body .qib-button-wrapper {
    display: flex;
    float: left;
    flex-wrap: nowrap;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    gap: 0;
}
body .qib-button-wrapper .minus.qib-button, 
body .qib-button-wrapper .plus.qib-button{
    background: #a19f9f14;
}
body .qib-button-wrapper .minus.qib-button:hover, body .qib-button-wrapper .plus.qib-button:hover {
    background: #14141414;
}
.wpt-wrap .qib-button-wrapper {
    gap: 0;
  }
.wpt-wrap .qib-button-wrapper div.quantity.wqpmb_quantity {
    height: 37px !important;
}
body.cart tr.woocommerce-cart-form__cart-item.cart_item .qib-button-wrapper{
    margin: inherit;
}
.woocommerce div.product form.cart .qib-button-wrapper div.quantity{
    margin-right: 0;margin: 0;
}

.qib-button-wrapper input::-webkit-outer-spin-button,
.qib-button-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.qib-button-wrapper input[type=number],
.qib-button-wrapper .quantity input[type=number], 
.qib-button-wrapper .quantity input[type=number]{ 
-moz-appearance:textfield; /* Firefox */
}


.woocommerce-page div.product form.cart div.quantity.wqpmb_quantity, .woocommerce div.product form.cart .quantity.wqpmb_quantity, .woocommerce div.product .quantity.wqpmb_quantity{
    margin: 0 !important;
}

@media only screen and (max-width: 600px) {
    table.cart .product-quantity .plus, table.cart .product-quantity .minus {
        display: block;
    }

    body .qib-button-wrapper {
        display: flex;
        float: right;
        margin-right: 0;
    }
}